<div class = "products">
{{#each products}}
  <div id="{{id}}">
    <h1>Product: {{name}}</h1>
    <h2>Price: ${{price}}</h2>
    <h3>Inventory: {{inventory}}</h3>
    <h4>ID: {{id}}</h4>
  </div>
{{/each}}
</div>