<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
</head>
<body>
  <h1>Products (edit.hbs)</h1>
<h1>{{error}}</h1>
  <form action="/products/{{id}}" method="POST">
    <label form="name">Product</label>
    <input type="text" name="name" value={{name}}>

    <label for="price">Price</label>
    <input type="text" name="price" value={{price}}>

    <label for="inventory">Inventory</label>
    <input type="text" name="inventory" value={{inventory}}>
    <br><br>
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="Submit">

    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
</body>
</html>