<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
</head>
<body>
  <h1>Products (edit.hbs)</h1>
<h1>{{error}}</h1>

  <form method="POST" action="/products/{{id}}?_method=PUT">
    <input type="text" name= "name" value= {{name}}>
    <input type="text" name= "price" value= {{price}}>
    <input type="text" name= "inventory" value= {{inventory}}>
    <br><br>
    <input type="submit" value="Submit">
  </form>

  <form method="POST" action="/products/{{id}}?_method=DELETE">
    <input type="submit" value="Delete">
  </form>
</body>
</html>