<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
</head>
<body>
  <h1>Products (new.hbs)</h1>
<h1>{{error}}</h1>
  <form action="/products/{{id}}" method="post">
    <label form="name">Product</label>
    <input type="text" name="name" value={{name}}>
    <br>
    <br>
    <label for="price">Price</label>
    <input type="text" name="price" value={{price}}>
    <br>
    <br>
    <label for="inventory">Inventory</label>
    <input type="text" name="inventory" value={{inventory}}>
    <br><br>
    <input type="submit" value="Submit">
  </form>

  <div class='product'>
    <h3>Product: {{name}}</h3>
    <p>Price: ${{price}}</p>
    <p>Inventory: {{inventory}}</p>
    <p>ID: {{id}}</p>
  </div>
</body>
</html>